@font-face {
    font-family: mainfont;
    src: url(streetwear.woff2);
}

body{
    background: linear-gradient(150deg,#ffffffec,#92d3e7ec,#7a72e4ec,#1a0cd3ec);
font-family: mainfont,sans-serif;
    background-size: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

#caption{
    width: 100vw;
    text-align: center;
    font-size: 10vw;
    text-shadow: 0 0 13px rgb(47, 20, 201);
    margin-top: 50px;
}
#name{
  width: 100vw;
  text-align: center;
  font-size: 8vw;
  color: white;
  margin-top: 30px;
}

#boximage {
    display: flex;
    justify-content: center;
}

#boximage img{
    width: 70vw;
    max-width: 400px;
    
}
#boxwish{
    display: flex;
}

  @media (max-width: 500px) {
    #caption{
        font-size: 10vw;
    }
    #name{
        font-size: 8vw;
    }
    #boxwish{
        flex-direction: column;
    }
  }

  /* От 501 до 1000 пикселей — жёлтый фон */
  @media (min-width: 501px) and (max-width: 1000px) {
   #caption{
        font-size: 4vw;
    }
    #boxwish{
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content:space-between;
    }
    #name{
        font-size: 3vw;
        width: 30vw;
    }
  }

  /* От 1001 пикселя и выше — зелёный фон */
  @media (min-width: 1001px) {
     #caption{
        font-size: 4vw;
    }    
    #boxwish{
        flex-direction: row;
                align-items: center;
        align-content: center;
        justify-content:space-between;
    }
    #name{
        font-size: 3vw;
        width: 30vw;
    }
  }